body{
	overflow: hidden;
}

#wrapper {
	position: absolute;

	left: 0;
	top: 0;
	margin: 0;
	padding: 0;

	background-image: url('images/background.jpg');
	overflow: hidden;
	background-position: center;
	background-size: cover;
	-webkit-transform: transform3d(0,0,0);
 	-webkit-user-select: none;
}

#canvas{
	position: absolute;
	width:100%;
	height:100%;
	left: 0;
	top: 0;
	overflow: hidden;
}
